$vezeeta-blue: #0070cd;
$vezeeta-red: #ef0f0f;
$blue-one: #3e8ddd;
$blue-two: #005cb8;
$search-grey-shade: #333;
$default-grey: #58595b;
$helper-grey: #808184;
$medium-grey: #e0e0e0; // used for strokes & lines
$light-grey: #f5f5f5; // Used for background
$success: #7cbb69;
$warning: #ffd350;
