@import '../../shared/Colors.scss';
@import '../../shared/Mixins.scss';

.upload-photo-container {
  @include center-horizontal;

  .upload-photo {
    @include border-radius(50%);
    @include center;

    background-color: #f9f9f9;
    border: 1px solid #e9e9e9;
    cursor: pointer;
    height: 130px;
    overflow: hidden;
    position: relative;
    width: 130px;

    img {
      @include border-radius(50%);

      background: #f9f9f9;
      height: 100%;
      left: 0;
      object-fit: cover;
      position: absolute;
      top: 0;
      width: 100%;
    }

    svg {
      z-index: 1;
    }
  }

  .error-message {
    @include transition(opacity 200ms ease);

    color: $vezeeta-red;
    font-weight: 400;
    max-width: 130px;
    opacity: 0;
    text-align: center;

    &.show-error-message {
      opacity: 1;
    }
  }
}
