@import '../shared/Mixins.scss';
@import '../shared/Variables.scss';
@import '../shared/Colors.scss';
@import '../shared/FontSizes.scss';

.snack-bar-window {
  align-items: flex-end;
  display: flex;
  height: 100%;
  left: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;

  .snack-bar-container {
    @include border-radius(4px);
    @include center-vertical;

    background-color: $helper-grey;
    flex-direction: row;
    height: auto;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: -90px;
    max-height: 80px;
    max-width: 50%;
    min-height: 40px;
    min-width: 300px;
    padding: $spacing-2 $spacing-4 $spacing-2 $spacing-6;
    position: relative;
    transition: margin 200ms ease-in-out;
    width: auto;

    .message-text {
      color: #fff;
      letter-spacing: 0.1px;
      line-height: 18px;
      margin: 0;
      margin-right: $spacing-12;
    }

    .close-btn {
      align-items: center;
      background-color: transparent;
      border: 0;
      cursor: pointer;
      display: flex;
      height: 34px;
      justify-content: center;
      outline: none;
      pointer-events: visible;
      width: 34px;

      .close-icon {
        margin-top: 2px;
      }

      &:hover {
        @include border-radius(4px);

        background-color: rgba(#fff, 0.2)
      }
    }

  }
}
